# ====== Directories to Ignore ======

# Virtual environments
.venv/
myenv/

# IDEs and editors
.vscode/
.idea/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Data and model directories
fitness_images/
fine_tuned_bert_model/
fitpal_bert_model/
metrics/
results/
static/
bert_chatbot_model/
utils/

# Checkpoints and model files
*.pt  
*.h5  
*.ckpt 
*.pkl
*.npy

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Temporary scripts or test files
test.py
