# Ignore Python cache and environment folders
__pycache__/
.venv/
myenv/
# Ignore model folders and assets
fitness_images/
fine_tuned_bert_model/
fitpal_bert_model/
bert_chatbot_model/
metrics/
results/
static/
utils/
models/

# Ignore data and model files
*.npy
*.pkl
*.pt
*.h5
*.ckpt
*.db
*.csv

# Ignore notebooks (optional)
*.ipynb

# Ignore logs, prompts, misc
*.log
prompts.txt

# Ignore secrets
.env

# VSCode config
.vscode/
.idea/
