fitness_images/
fine_tuned_bert_model/
fitpal_bert_model/
metrics/
results/
static/
bert_chatbot_model/
utils/
X_train_sbert.npy
val_labels_language.npy
X_train_sbert.npy
class_mapping.pkl
y_train.npy
y_test.npy
xgb_model.pkl
X_test_sbert.npy
val_embeddings_language.npy
utils.py
pytrain_labels.npy
bert_label_encoder.pkl
class_mapping.pkl
decision_tree_model.pkl
*.pt  # PyTorch saved model files
*.h5  # Keras model files
*.ckpt # Checkpoint files

# Virtual environment
.venv/

# Python cache
__pycache__/

# Temporary or test scripts (only if not needed in version control)
test.py
